# packages / caches
elpa/
eln-cache/
auto-save-list/
eshell/
tramp
transient/
url/
projects
.lsp-session*
# backups/autosaves
*~
\#*\#
.#*
# compiled elisp
*.elc

# compiled tree-sitter grammars (machine-specific)
tree-sitter/
